

.card_title{
    margin-top: 10px;
}

.card_price {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart_button {
    margin: 0 auto;
}

.img_card { 
    width: 100px;
    height: 100px;
}

.goods-item {
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: solid 1px black;
   
}

.goods-list { 
    justify-content: space-around;
    max-width: 1140px;
    display: flex;
}